<h1>הוספת קורס</h1>

<form name="myForm" ng-submit="CreateCourse(myForm)" >


    <ul>
        <li><strong>שם הקורס: </strong><input  id="CourseName" type ="text"  name="CourseName" required/></li>
        <li><strong>מורה הקורס: </strong><input  id="TeacherName" type ="text"  name="TeacherName" required/></li>
        <li><strong>קוד הקורס: </strong><input  id="CourseCode" type ="text"  name="CourseCode" required/></li>
    </ul>





    <input type="submit"   name="submit" value="עדכן" />
</form>

<p style="color: red">{{message}}</p>