
<div id="main-container-image">
	<section class="work">
		<figure class="white">
			<a ng-href="#/admin/classes">
				<img img src="/class.jpg" />
			</a>
			<div id="wrapper-part-info">
				<div id="part-info">כיתות</div>
			</div>
		</figure>
	</section>
</div>
<div id="main-container-image">
	<section class="work">
		<figure class="white">
			<a ng-href="#/admin/staff">
				<img img src="/staff.jpg" />
			</a>
			<div id="wrapper-part-info">
				<div id="part-info">צוות</div>
			</div>
		</figure>
	</section>
</div>
<div id="main-container-image">
	<section class="work">
		<figure class="white">
			<a ng-href="#/admin/students">
				<img img src="/childern.jpg"/>
			</a>
			<div id="wrapper-part-info">
				<div id="part-info">תלמידים</div>
			</div>
		</figure>
	</section>
</div>
<div id="main-container-image">
	<section class="work">
		<figure class="white">
			<a ng-href="#/admin/switchClasses">
				<img img src="/Back.jpg" />
			</a>
			<div id="wrapper-part-info">
				<div id="part-info">החלפת כיתות-תחילת שנה</div>
			</div>
		</figure>
	</section>
</div>
<div id="main-container-image">
	<section class="work">
		<figure class="white">
			<a ng-href="#/admin/Certificate">
				<img img src="/cert.jpg" />
			</a>
			<div id="wrapper-part-info">
				<div id="part-info">תעודות</div>
			</div>
		</figure>
	</section>
</div>