


<h1>הכיתות </h1>

<div class="studentInfo" id="admin">
<div class="tableInfo">
    <div>
        <div >
            <img src="/pen.jpg" id="imgClass"></div>
    <table id="admin_class">
        <tr >
            <td><h3>שם הכיתה</h3></td>
            <td><h3>שם המורה</h3></td>
            <td><h3>עדכון</h3></td>
        </tr>
        <tr data-ng-repeat="class in AllClasses" class="ng-scope">
            <td>{{ class.ClassName }}</td>
            <td>{{findTeacher(class.EducatorId)}}</td>

            <td><a ng-href="#/admin/classes/updateClass/{{class.ClassId}}">עדכון</a></td>
        </tr>
    </table>


    </div>


    </div>
</div>
