


<h1>all classes admin </h1>

<table>
    <tr>
        <th>שם הכיתה</th>
        <th>ClassId</th>
        <th>מחנך</th>
        <th>עדכון</th>
    </tr>
    <tr ng-repeat="class in AllClasses">
        <td>{{ class.ClassName }}</td>
        <td>{{ class.ClassId}}</td>
        <td>{{ class.Educator }}</td>
        <th><a ng-href="#">עדכון</a></th>
    </tr>
</table>

<a ng-href="#/admin/classes/creatClass">הוספת כיתה</a></br>
<a ng-href="#/admin/classes/updateClasses">עדכון</a></br>
   
          

