<h1>allConfirmCourses</h1>

<!--<ul  ng-repeat="course in ALLCourse">
    <li> <a ng-href="#/classes/{{id}}/confirmCourses/{{course.CourseId}}">{{course.CoursName}}</a>
        <a style="color: red" ng-if="course.ConfirmEducator==1">           המחנך אישר        </a>
        <a style="color: #66CC7A" ng-if="course.ConfirmCoordinator==1">           הרכז שכבה אישר        </a>
        <a style="color:aqua" ng-if="course.ConfirmPrincipal==1">           המהל אישר        </a>
    </li>
</ul>

-->

<div class="container object" ng-repeat="course in ALLCourse">
    <div id="main-container-image">
        <section class="work">
            <figure class="white">
            	<img  ng-if="course.ConfirmEducator==1" src="/mainTeacher.png" alt="המחנך אישר" />
                 <a ng-href="#/classes/{{id}}/confirmCourses/{{course.CourseId}}">
                    <img img src="/courses.jpg" alt="{{student.FirstName}}" />
                </a>
                <div id="wrapper-part-info">
                    <div id="part-info">{{course.CoursName}}</div>
                </div>
                <a style="color: red" ng-if="course.ConfirmEducator==1">           המחנך אישר </a>

        		<a style="color: #66CC7A" ng-if="course.ConfirmCoordinator==1">הרכז שכבה אישר </a>
                <a style="color: #FF9000" ng-if="course.ConfirmPrincipal==1">המנהל אישר </a>
            </figure>
        </section>
    </div>
</div>
