<h1>תעודה</h1>
<div id="cert">

<form name="myForm" ng-submit="Certificate()" id="main-container-image">
    <section class="work">
        <figure class="white">
            <a ng-href="#/admin/Certificate">
                <img img src="/cert.jpg" />
            </a>
            <div id="wrapper-part-info">
               <input type="submit" class="submitC" value="יצירת תעודות">
            </div>
        </figure>
    </section>
</form>


<form name="myForm2"ng-submit="download()" id="main-container-image">
    <section class="work">
        <figure class="white">
            <a ng-href="#/admin/Certificate">
                <img img src="/d.jpg" />
            </a>
            <div id="wrapper-part-info">
                <input type="submit" class="submitC" value="הורדת תעודות">
            </div>
        </figure>
    </section>
</form>
</div>
<p  id="pmes" style="color: red">{{message1}}</p>









<!--<form name="myForm" ng-submit="Certificate()" >-->

    <!--<input type="submit" value="תעודה">-->
<!--</form>-->

<!--<form name="myForm2" ng-submit="download()" >-->

    <!--<input type="submit" value="הורדה">-->
<!--</form>-->






