<h1>תעודה</h1>
<form name="myForm" ng-submit="Certificate()" >

    <input type="submit" value="תעודה">
</form>
<p style="color: red">{{message1}}</p>



<form name="myForm2" ng-submit="download()" >

    <input type="submit" value="הורדה">
</form>

<!--<form onsubmit="download(this['name'].value, this['text'].value)">-->
    <!--<input type="text" name="name" value="test.txt">-->
    <!--<textarea name="text"></textarea>-->
    <!--<input type="submit" value="Download">-->
<!--</form>-->

<!--<input type="submit" value="download" ng-click="download()">-->
<a href="data:text/plain,this is some text" download="some-filename.txt" target="_blank"> Download </a>