<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  name="passCng" ng-submit="changePassword(passCng)">
    <label for="user">user name</label>
    <input type="text" id="user" name="user" required/>
    <br>

    <label for="password">password</label>
    <input type="password" id="password" name="password" required/>
    <br>

    <label for="password">new password</label>
    <input type="password" id="newPassword" name="newPassword" ng-model="login.password" required/>
    <!--<label for="password" >password</label>
    <input type="password" id="confirm" מg-model="login.verify" nx-equal-ex="login.password" name="verify"     required/>
    <span ng-show="form.verify.$error.nxEqualEx">Must be equal!</span>!-->

    <input type="submit" value="Change Password"/>
    <p style="color: red">{{message}}</p>
</form>
</body>
</html>