<form name="passCng" ng-submit="changePassword(passCng)">
    <div class="studentInfo">
        <div class="tableInfo">

            <h1>שינוי סיסמה </h1>
            <table id="changeP">
                <tr><td> <br />
                    <strong>שם משתמש</strong> <br /><input type="text" id="user" name="user" required/></br>
                    <strong>סיסמה ישנה</strong> <br /><input type="password" id="password" name="password" required/></br>
                    <strong>סיסמה חדשה</strong> <br /><input type="password" id="newPassword" name="newPassword" ng-model="login.password" required/></br>
                </td></tr></table>
            <br />
            <input id="ch" class="submit" type="submit" value="שנה סיסמה">
            <br />
        </div>
    </div>
</form>
<p style="color: red">{{message1}}</p>
