<h3>איש צוות חדש: </h3>
<form action="newMember">
    <table>
        <tr>
            <td><label for="id"> מספר זהות: </label></td>
            <td><input id="id" name="id" type ="text"/><br/></td>
        </tr>
        <tr>
            <td><label for="firstName2"> שם פרטי: </label></td>
            <td><input id="firstName2" name="firstName2" type ="text"/><br/></td>
        </tr>
        <tr>
            <td> <label for="LastName2">שם משפחה:</label></td>
            <td><input id="LastName2" name="LastName2" type ="text"/><br/></td>
        </tr>
        <tr>
            <td><label for="syudentclass">רמת הרשאה:</label></td>
            <td>
                <select id="syudentclass" required>
                    <option value="בחר">בחר</option>
                    <option value="מנהל">מנהל</option>
                    <option value="רכז"> רכז מחזור</option>
                    <option value="מחנך">מחנך</option>
                    <option value="מורה">מורה</option>
                </select>
                <br/></td>
        </tr>
        <tr>
            <td> <label >כיתות לימוד: </label></td>
            <td> <input type="checkbox" name="studentid" value="א" required/>
                <input type="checkbox" name="studentid" value="ב" required/>
                <input type="checkbox" name="studentid" value="ג" required/>
                <input type="checkbox" name="studentid" value="ד" required/>
                <input type="checkbox" name="studentid" value="ה" required/>
                <input type="checkbox" name="studentid" value="ו" required/>
                <input type="checkbox" name="studentid" value="ז" required/>
                <input type="checkbox" name="studentid" value="ח" required/>
                <br/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="אישור"></td>
        </tr>
    </table>
</form>