<h3>איש צוות חדש: </h3>

<form >
    <strong>שם : </strong><input   type ="text"  name="UserName" required/></br>
    <strong>תז : </strong><input   type ="text"  name="UserId" required/></br>
    <strong>הרשאה:</strong><select   name="Type"  required>

    <option value="1" >מורה</option>
    <option value="2"  > מחנך</option>
    <option value="3">רכז שכבה</option>
    <option value="4">מנהל</option>
    <option value="5"  >מזכירה</option>

</select></br>
    <input type="submit" value="אישור"></td>
</form>