
<h3>סטודנט חדש:</h3>
<form action="newStudent">
    <table>
        <tr>
            <td><label for="id"> מספר זהות: </label></td>
            <td><input id="id" name="id" type ="text"/><br/></td>
        </tr>
        <tr>
            <td><label dir="rtl" for="firstName">שם פרטי:</label></td>
            <td><input id="firstName" name="firstName" type ="text"/></td>
        </tr>
        <tr>
            <td><label for="LastName">שם משפחה:</label></td>
            <td> <input id="LastName" type ="text"/></td>
        </tr>
        <tr>
            <td><label for="studentclass">כיתה:</label></td>
            <td><select id ="studentclass" required>
                <option value="בחר">בחר</option>
                <option value="א">א</option>
                <option value="ב"> ב</option>
                <option value="ג">ג</option>
                <option value="ד">ד</option>

                <option value="ה">ה</option>
                <option value="ו">ו</option>
                <option value="ז">ז</option>
                <option value="ח">ח</option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td> <input type="submit" value="אישור"></td>

        </tr>

    </table>
</form>