
<h1>  הקורס:{{courseId}}</h1>
 
    <h1>    המורה: "אבי כהן"</h1>

<form name="myGread" ng-submit="updateGreads(myGread)" >

<table>
    <tr>
        <th>תעודת זהות</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th >ציון</th>
        <th >הערכה מילולית</th>
    </tr>
    <tr ng-repeat="student in MyStudents" >
        <td data-target="{{student.StudentId }}" name="StudentId">{{student.StudentId }}</td>
        <td>{{student.FirstName}}</td>
        <td>{{student.LastName }}</td>
        <td><input  type ="text"  value="{{findGread(student.StudentId,courseId)}}" required  name="Gread"/></td>
        <td><textarea  type ="text"    name="Evaluation">{{findEvaluation(student.StudentId,courseId)}}</textarea></td>



    </tr>

</table>
    <input type="submit"   name="submit" value="עדכן" />
</form>

<p style="color: red">{{message1}}</p>