
<h1>  הקורס:{{MyCourse[0].CoursName}}</h1>
 
    <h1>    המורה: "אבי כהן"</h1>

<form name="myGread" ng-submit="updatemyGread(myGread)" >

<table>
    <tr>
        <th>תעודת זהות</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th >ציון</th>
        <th >הערכה מילולית</th>
    </tr>
    <tr ng-repeat="student in MyStudents">
        <td>{{student.StudentId }}</td>
        <td>{{student.FirstName}}</td>
        <td>{{student.LastName }}</td>
        <td><input  type ="text"  value="{{findGread(student.StudentId,MyCourse[0].CourseId)}}" required /></td>
        <td><input  type ="text"  value="{{findEvaluation(student.StudentId,MyCourse[0].CourseId)}}" required /></td>


    </tr>

</table>
    <input type="submit"   name="submit" value="עדכן" />
</form>