

<h1>myCourses</h1>

<div class="container object" ng-repeat="course in MyCourse">
    <div id="main-container-image">
        <section class="work">
            <figure class="white">
                 <a ng-href="#/classes/{{id}}/grades/{{course.CourseId}}">
                    <img img src="/courses.jpg" alt="{{student.FirstName}}" />
                </a>
                <div id="wrapper-part-info">
                    <div id="part-info">{{course.CoursName}}</div>
                </div>
            </figure>
        </section>
    </div>
</div>
