
<h1>hello {{student.FirstName}}</h1>
<section class="work">
    <figure >
        <div>
            <div class="col-xs-12 col-sm-4">
                <figure>
                    <img class=" studentIm" img src="/1.jpg" alt="{{student.FirstName}}" />
                    <figcaption>{{student.FirstName}}</figcaption>
                </figure>
            </div>

            <div class="col-xs-12 col-sm-4">
                <ul>
                    <li><strong>שם פרטי: </strong>{{student.FirstName}}</li>
                    <li><strong>משפחה : </strong>{{student.LastName}}</li>
                </ul>
            </div>
        </div>

 <div class="divider" ></div>
        <div class="row">
            <div data-ng-repeat="course in student.Courses">
                <div>
                    <table>
                        <td>{{course.CoursName}}</td>
                        <td>{{course.TeacherName}}</td>
                        <td>{{course.Evaluation}}</td>
                        <td>{{course.Grade}}</td>
                    </table>
                </div>
            </div>
        </div>
    </figure>
</section>































<!--
<div>
    <div class="row">
        <div class="col-s-4 col-md-8" style="background-color:lavenderblush; height:250px;text-align: center;">
            <section class="work">
                <figure class="white">
                    <a ng-href="#/classes/{{id}}/students/{{student.StudentId}}"   >
                        <img img src="/1.jpg" alt="{{student.FirstName}}" />
                    </a>
                    <div id="wrapper-part-info">
                        <div id="part-info">{{student.FirstName + " " + student.LastName }}</div>
                    </div>
                </figure>
            </section>
        </div>
        <div class="col-s-4 col-md-8">
            <p >{{student.FirstName}}</p>
            <p ng-data>{{student.LastName}}</p>
            <p>{{student.ClassName}}</p>
            <p>{{student.TeacherName}}</p>
        </div>
    </div>-->











