<h1>MY STUDENTS</h1>

<div class="container object" ng-repeat="student in MyClass">
    <div id="main-container-image">
        <section class="work">
            <figure class="white">
                <a ng-href="#/classes/{{id}}/students/{{student.StudentId}}"   >
                    <img img src="/1.jpg" alt="{{student.FirstName}}" />
                </a>
                <div id="wrapper-part-info">
                    <div id="part-info">{{student.FirstName + " " + student.LastName }}</div>
                </div>
            </figure>
        </section>
    </div>
</div>

