<h1>update staff </h1>
<p>AllStaff:{{AllStaff}}</p>
<form >
<table>
    <tr>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>תעודת זהות</th>
        <th>Type</th>
    </tr>
    <tr ng-repeat="staff in AllStaff">
        <td><input  type ="text" value="{{staff.FirstName}}"></td>
        <td><input  type ="text" value="{{staff.LastName }}"></td>
        <td><input  type ="text" value="{{staff.StaffId}}"></td>
       <td><input  type ="text" value="{{staff.Type}}"></td>
    </tr>
</table>

<a ng-href="#/admin/staff/creatStaff">הוספת איש צוות</a></br>
<a ng-href="#">עדכון</a></br>
    <input type="submit" value="עדכן"></td>
</form>