
<form name="myForm1" ng-submit="updateStaff(myForm1)">
    <div class="studentInfo">
        <div class="tableInfo">
            <h1>עדכון תלמיד</h1>

            <table id="addCourse">
                <tr><td><br /> <br />
                    <strong>ת.ז.: </strong><br /><input    type ="text" value="{{student.StudentId}}" name="StudentId" required/><br /><br />
                    <strong>שם פרטי: </strong><br /><input  id="FirstName1" type ="text" value="{{student.FirstName}}" name="FirstName" required/><br /><br />
                    <strong>משפחה : </strong><br /><input  type ="text"  value="{{student.LastName }}" name="LastName" required /><br /><br />
                    <select id ="studentclass"  name="ClassId"   name="ClassId" >
                      <option value="{{student.ClassId}}" selected>כיתה</option>
                        <option value="1" >א</option>
                        <option value="2"  > ב</option>
                        <option value="3">ג</option>
                        <option value="4">ד</option>
                        <option value="5"  >ה</option>
                        <option value="6"  >ו</option>
                        <option value="7" >ז</option>
                        <option value="8"  >ח</option>
                    </select></br></td>
                </tr></table>
            <br />
            <input id="up" class="submit" type="submit"   name="submit" value="עדכן" />

        </div>
    </div>

</form>

<p style="color: red">{{message1}}</p>
