<h1>עדכון סטודנט </h1>



            <ul>
                <li><strong>שם פרטי: </strong><input  type ="text" value="{{student.FirstName}}"></li>
                <li><strong>משפחה : </strong><input  type ="text" value="{{student.LastName}}"></li>
                <li><strong>מחנך : </strong><input  type ="text" value="{{student.TeacherName}}"></li>
                <li><strong>כיתה :</strong><input  type ="text" value="{{student.ClassId}}"></li>
            </ul>

<h1>קורסים</h1>




<table>
    <tr>
        <th>שם הקורס</th>
        <td>CourseId</td>
        <th>מורה</th>
        <th>ציון</th>
        <th>הערכה מילולית</th>

    </tr>
    <tr ng-repeat="course in student.Courses">



        <td><input  type ="text" value="{{course.CoursName}}"></td>
        <td> <input  type ="text" value="{{ course.CourseId}}"></td>
        <th><input  type ="text" value="{{ course.TeacherName}}"></th>
        <td><input  type ="text" value="{{ course.Grade }}"> </td>
        <td><input  type ="text" value="{{ course.Evaluation}}"></td>

    </tr>
</table>
<input type="submit" value="עדכן סטודנט" >