<h1>עדכון סטודנט </h1>
<form name="myForm1" ng-submit="updateStudent(myForm1)" >


            <ul>
                <li><strong>ת.ז.: </strong><input    type ="text" value="{{student.StudentId}}" name="StudentId" required/></li>
                <li><strong>שם פרטי: </strong><input  id="FirstName1" type ="text" value="{{student.FirstName}}" name="FirstName" required/></li>
                <li><strong>משפחה : </strong><input  type ="text"  value="{{student.LastName }}" name="LastName" required /></li>
                <li><strong>מחנך : </strong><input  type ="text" value="{{student.TeacherName}}" /></li>
                <li>כיתה :<input  type ="text" value="{{student.ClassId}}" name="ClassId" required/></li>
            </ul>



    <!--<table>-->
        <!--<tr>-->
            <!--<td><label for="id"> מספר זהות: </label></td>-->
            <!--<td><input id="id" name="id" type ="text" ng-model="StudentId" value="{{student.StudentId}}" required/><br/></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><label dir="rtl" for="firstName">שם פרטי:</label></td>-->
            <!--<td><input id="firstName" name="FirstName" type ="text"  ng-model="FirstName" value="{{student.FirstName}}" required/></td>-->

        <!--</tr>-->
        <!--<tr>-->
            <!--<td><label for="LastName">שם משפחה:</label></td>-->
            <!--<td> <input id="LastName" type ="text" ng-model="LastName"  value="{{student.LastName}}" required/></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><label for="class">כיתה:</label></td>-->
            <!--<td> <input id="class" type ="text" ng-model="LastName"  value="{{student.ClassId}}" required/></td>-->
        <!--</tr>-->
    <!--</table>-->
<h1>קורסים</h1>




<table>
    <tr>
        <th>שם הקורס</th>
        <td>CourseId</td>
        <th>מורה</th>
        <th>ציון</th>
        <th>הערכה מילולית</th>

    </tr>
    <tr ng-repeat="course in student.Courses" ng-model="course">



        <td>{{course.CoursName}} </td>
        <td> {{course.CourseId}}</td>
        <th>{{ course.TeacherName}}</th>
        <td>{{ course.Grade }}</td>
        <td>{{ course.Evaluation}}</td>

    </tr>
</table>

    <input type="submit"   name="submit" value="עדכן" />
</form>

<p style="color: red">{{message1}}</p>