<h1>update student admin </h1>
<form >
<table>
    <tr>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>תעודת זהות</th>
        <th>ClassId</th>
    </tr>
    <tr ng-repeat="student in AllStudents">
        <td><input  type ="text" value="{{student.FirstName}}"/></td>
        <td><input  type ="text" value=" {{ student.LastName }}"/></td>
        <td><input  type ="text" value="{{ student.StudentId }}"/></td>
        <td><input  type ="text" value="{{ student.ClassId }}"/></td>
    </tr>
</table>
<td>
    <input type="submit" value="עדכן"></td>
</form>