<!DOCTYPE HTML>
<html dir="rtl" ng-app="myApp" >
<head>
    <meta http-equiv="content-type" content="text/html;charset=iso-8859-8-i">
    <meta http-equiv="Content-Type" content="text/html; charset=Windows-1255" />
    <title>ראשית</title>
    <!-- Behavioral Meta Data -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="icon" type="image/png" href="../img/small-logo-01.png">-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
 <link rel="shortcut icon" type="image/x-icon" href="client/src/img/favicon.ico" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="SwitchingBetweenPages.js" ></script>
    <script src="ClassCtrl.js" ></script>
    <script src="ClassesCtrl.js" ></script>
    <script src="StudentCtrl.js" ></script>
    <script src="StudentsCtrl.js" ></script>
    <script src="MainPageCtrl.js" ></script>
    <script src="AdminStaffCtrl.js" ></script>
    <script src="AdminClassesCtrl.js" ></script>
    <script src="AdminStudentsCtrl.js" ></script>
    <script src="AdminCoursesCtrl.js" ></script>
    <script src="CreatStudentsCtrl.js" ></script>
    <script src="updateStudentCtrl.js" ></script>
    <script src="loginCtrl.js" ></script>
    <script src="updateClassCtrll.js" ></script>
    <script src="ConfirmCoursesCtrl.js" ></script>


    <script src="GradesCtrl.js" ></script>
    <script src="grades.dir.js" ></script>
    <script src="password.dir.js" ></script>


    <script src="classes.dir.js" ></script>
    <script src="students.dir.js" ></script>
    <script src="staff.dir.js" ></script>

    <script src="classesService.js" ></script>
    <script src="gradeService.js" ></script>
    <script src="studentsService.js" ></script>
    <script src="usersService.js" ></script>


    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainPageCtrl">
<a name="ancre"></a>    <!-- CACHE -->
<div class="cache"></div>
<!-- HEADER -->
<div id="wrapper-header">
    <div id="main-header" class="object">
        <div class="logo"><img src="/logo.jpg" alt="logo platz" height="38" width="90"></div>

    </div>

</div>
<button ng-style= "loginButton" ng-click="signInOut()">login</button>
<button  ng-style="signOutButton" ng-click="signInOut()">sign out</button>

<!---->
<div id="wrapper-container">
    <div ng-view>
        <div id="main-container-footer">

            <div class="container-footer">

                <div id="row-1f">
                    <div class="text-row-1f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">טיפים לחזור לשיגרה</span><br>הילדים שלנו חוזרים לשגרה, בואו נעזור להם להתחיל ברגל ימין ולכבוש את המטרה!</div>
                </div>

                <div id="row-2f">
                    <div class="text-row-2f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">אסיפת הורים-הדרך הפשוטה להצליח</span><br> אסיפת הורים תחילת שנה?מה נאמר?כיצד נתכונן אלו טפסים נחלק...ועוד</div>
                </div>

                <div id="row-3f">
                    <div class="text-row-3f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">למורים/ות המובילים/ות מגיע יותר!</span><br>השתלמויות מורים, קורסים למורים ואפשרויות רבות</div>
                </div>

                <div id="row-4f">
                    <div class="text-row-4f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">צור קשר:</span><br>לתגובות וקבלת מידע נוסף נשמח לעמוד לרשותך</div>
                    <div id="main_tip_newsletter">
                        <form>
                            <input type="text" name="newsletter" id="tip_newsletter_input" list="newsletter" autocomplete=off required>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="wrapper-copyright" data-spy="affix-bottom">
    <div class="copyright">
        <div class="copy-text object">
            Copyright © 2016. Template by <a style="color:#D0D1D4;" href="https://dcrazed.com/">Dcrazed</a>
        </div>
        <div class="wrapper-navbouton">
            <a href="https://www.google.co.il/webhp?as_qdr=all&gws_rd=ssl" class="google object">g</a>
            <a href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fhome.php" class="facebook object">f</a>
            <a href="https://www.linkedin.com/" class="linkin object">i</a>
        </div>
    </div>

</div>


<!-- SCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="jquery.localScroll.min.js"></script>
<script type="text/javascript" src="jquery-animate-css-rotate-scale.js"></script>
<script type="text/javascript" src="fastclick.min.js"></script>
<script type="text/javascript" src="jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="jquery.animate-shadow-min.js"></script>
<script type="text/javascript" src="main.js"></script>


</body>

</html>
